<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="true">
	<!-- 自动扫描分包 -->
	<context:component-scan base-package="com.lance.mq" />

	<!-- ActiveMQConnectionFactory -->
	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<constructor-arg index="0" value="tcp://127.0.0.1:61616" />
	</bean>

	<!-- CachingConnectionFactory -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg index="0" ref="activeMQConnectionFactory" />
	</bean>

	<!-- ActiveMQQueue -->
	<bean id="activeMQQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="queue" />
	</bean>
	
	<!--  
	<bean id="consumerListener" class="com.lance.mq.ConsumerListener"/>
	<bean id="messageListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg index="0" ref="consumerListener"/>
	    <property name="messageConverter">
	        <bean class="org.springframework.jms.support.converter.SimpleMessageConverter"/>
	    </property>
	</bean>
	<bean id="queueListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="activeMQQueue" />
		<property name="messageListener" ref="messageListenerAdapter" />
	</bean>
	-->
	<bean id="consumerReturnListener" class="com.lance.mq.ConsumerReturnListener"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="activeMQQueue" />
		<property name="messageListener" ref="consumerReturnListener" />
	</bean>
</beans>