<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
	<Appenders>
		<!--这个输出控制台的配置 -->
		<Console name="console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL" />
			<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL" />
			<!--输出日志的格式 -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %L %M - %msg%xEx%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<!-- 全局配置，默认所有的Logger都继承此配置 -->
		<AsyncRoot level="INFO" additivity="false">
			<AppenderRef ref="console"/>
		</AsyncRoot>		
	</Loggers>
</Configuration>