<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
	<Properties>
		<Property name="filename">logs/log.log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="File" fileName="${filename}">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.lance.dev.hibernate" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>